# Parte - 1 Introdução

In [4]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853646 sha256=f732e2a652949f286af29a883b5ac820396278aecf97c2fa936bad7f779c68c0
  Stored in directory: c:\users\feoxp7\appdata\local\pip\cache\wheels\52\45\50\69db7b6e1da74a1b9fcc097827db9185cb8627117de852731e
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

WARNING: You are using pip version 20.2.3; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\feoxp7\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Processing c:\users\feoxp7\appdata\local\pip\cache\wheels\52\45\50\69db7b6e1da74a1b9fcc097827db9185cb8627117de852731e\pyspark-3.2.1-py2.py3-none-any.whl
Requirement already satisfied: py4j==0.10.9.3 in c:\users\feoxp7\appdata\local\programs\python\python39\lib\site-packages (from pyspark) (0.10.9.3)
Installing collected packages: pyspark
Successfully installed pyspark-3.2.1

WARNING: You are using pip version 20.2.3; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\users\feoxp7\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [11]:
import pyspark 
import pandas as pd
from pyspark.sql import SparkSession

In [9]:
pd.read_csv('data.csv', sep=';')

       Name  Age
0  Leonardo   29
1   Leticia   26
2    Marisa   54
3     Paulo   56

In [74]:
spark = SparkSession.builder.appName('Practica').getOrCreate()
spark

In [75]:
df_pyspark = spark.read.csv('data.csv', sep=';')
df_pyspark.show()

+--------+---+----------+
|     _c0|_c1|       _c2|
+--------+---+----------+
|    Name|Age|Experience|
|Leonardo| 29|         5|
|   Paulo| 56|         5|
|  Marisa| 54|         5|
| Leticia| 26|         5|
+--------+---+----------+

In [76]:
spark.read.option('header', 'true').csv('data.csv', sep=';').show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Leonardo| 29|         5|
|   Paulo| 56|         5|
|  Marisa| 54|         5|
| Leticia| 26|         5|
+--------+---+----------+

In [77]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

# Parte 2 - DataFrames

* Pyspark Dataframe
* Lendo o dataset
* Verificando datatypes das colunas (Schema)
* Selecionando Colunas e indexação
* Check Describe option similar to Pandas
* Adicionando Colunas
* Dropando Colunas
* Renomeando Colunas

In [78]:
spark = SparkSession.builder.appName('Practica - DataFrame').getOrCreate()
spark

In [79]:
## Lendo o dataset 
df_spark = spark.read.option('header', 'true').csv('data.csv', sep=';')

In [80]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [81]:
#Veja que todas as informações foram tratadas como strings. Até mesmo a idade. 
#Para corrigir isso, usamos o parametro inferSchema

In [82]:
## Lendo o dataset 
df_spark = spark.read.option('header', 'true').csv('data.csv', sep=';', inferSchema=True)
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [83]:
df_spark = spark.read.csv('data.csv', sep=';', header=True, inferSchema=True)
df_spark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Leonardo| 29|         5|
|   Paulo| 56|         5|
|  Marisa| 54|         5|
| Leticia| 26|         5|
+--------+---+----------+

In [84]:
#Verificando o schema
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [87]:
#Selecting Columns 
df_spark.select('Age', 'Name').printSchema()
df_spark.select('Age', 'Name').show()

root
 |-- Age: integer (nullable = true)
 |-- Name: string (nullable = true)

+---+--------+
|Age|    Name|
+---+--------+
| 29|Leonardo|
| 56|   Paulo|
| 54|  Marisa|
| 26| Leticia|
+---+--------+

In [93]:
df_spark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [92]:
df_spark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [94]:
#Algumas informações importantes
df_spark.describe().show()

+-------+--------+------------------+----------+
|summary|    Name|               Age|Experience|
+-------+--------+------------------+----------+
|  count|       4|                 4|         4|
|   mean|    null|             41.25|       5.0|
| stddev|    null|15.945218719101975|       0.0|
|    min|Leonardo|                26|         5|
|    max|   Paulo|                56|         5|
+-------+--------+------------------+----------+

In [96]:
#Adicionando colunas em um dataframe 
df_spark.withColumn('Experience After 2 Year', df_spark['Experience']+2).show()

+--------+---+----------+-----------------------+
|    Name|Age|Experience|Experience After 2 Year|
+--------+---+----------+-----------------------+
|Leonardo| 29|         5|                      7|
|   Paulo| 56|         5|                      7|
|  Marisa| 54|         5|                      7|
| Leticia| 26|         5|                      7|
+--------+---+----------+-----------------------+

In [97]:
#Removendo colunas
df_spark = df_spark.drop('Experience After 2 Year')
df_spark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Leonardo| 29|         5|
|   Paulo| 56|         5|
|  Marisa| 54|         5|
| Leticia| 26|         5|
+--------+---+----------+

In [98]:
#Renomeando colunas 
df_spark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|Leonardo| 29|         5|
|   Paulo| 56|         5|
|  Marisa| 54|         5|
| Leticia| 26|         5|
+--------+---+----------+

#  Parte 3 - Lidando com valores faltantes

* Dropando Colunas
* Dropando Linhas 
* Vários parâmetros em drop funcionalidades
* Lidando com valores ausentes com média

In [99]:
spark = SparkSession.builder.appName('Practica - DataFrame').getOrCreate()
spark

In [102]:
## Lendo o dataset 
df_spark = spark.read.option('header', 'true').csv('data2.csv', sep=';', inferSchema=True)
df_spark.show()

+--------+----+----------+
|    Name| Age|Experience|
+--------+----+----------+
|Leonardo|  29|         5|
|   Paulo|  56|         5|
|  Marisa|  54|         5|
| Leticia|  26|         5|
|   Heron|null|         4|
| Pitucha|  25|      null|
|    null|  35|      null|
+--------+----+----------+

In [106]:
#drop a coluna
df_spark.drop('Experience').show()

+--------+----+
|    Name| Age|
+--------+----+
|Leonardo|  29|
|   Paulo|  56|
|  Marisa|  54|
| Leticia|  26|
|   Heron|null|
| Pitucha|  25|
|    null|  35|
+--------+----+

In [107]:
df_spark.na.drop().show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Leonardo| 29|         5|
|   Paulo| 56|         5|
|  Marisa| 54|         5|
| Leticia| 26|         5|
+--------+---+----------+

In [112]:
#Drop linhas que tenho null values em todos os campos
df_spark.na.drop(how="all").show()

#Drop linhas que tenho null values em pelo menos um campo
df_spark.na.drop(how="any").show()

#Drop linhas que tenho null values em + de 1 campo (o 1 é definido pelo parametro thresh)
df_spark.na.drop(how="any", thresh=1).show()

+--------+----+----------+
|    Name| Age|Experience|
+--------+----+----------+
|Leonardo|  29|         5|
|   Paulo|  56|         5|
|  Marisa|  54|         5|
| Leticia|  26|         5|
|   Heron|null|         4|
| Pitucha|  25|      null|
|    null|  35|      null|
+--------+----+----------+

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Leonardo| 29|         5|
|   Paulo| 56|         5|
|  Marisa| 54|         5|
| Leticia| 26|         5|
+--------+---+----------+

+--------+----+----------+
|    Name| Age|Experience|
+--------+----+----------+
|Leonardo|  29|         5|
|   Paulo|  56|         5|
|  Marisa|  54|         5|
| Leticia|  26|         5|
|   Heron|null|         4|
| Pitucha|  25|      null|
|    null|  35|      null|
+--------+----+----------+

In [114]:
#SubSet - Dropa linhas se algum valor de uma coluna especifica estiver como null
df_spark.na.drop(how="any", subset=['Experience']).show()

+--------+----+----------+
|    Name| Age|Experience|
+--------+----+----------+
|Leonardo|  29|         5|
|   Paulo|  56|         5|
|  Marisa|  54|         5|
| Leticia|  26|         5|
|   Heron|null|         4|
+--------+----+----------+

In [119]:
#Filling the Missing Value
df_spark.na.fill('Missing Value').show()

+-------------+----+----------+
|         Name| Age|Experience|
+-------------+----+----------+
|     Leonardo|  29|         5|
|        Paulo|  56|         5|
|       Marisa|  54|         5|
|      Leticia|  26|         5|
|        Heron|null|         4|
|      Pitucha|  25|      null|
|Missing Value|  35|      null|
+-------------+----+----------+

In [125]:
#Preenchendo valores com algumas estratégias
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols = ['Age', 'Experience'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Experience']]
).setStrategy("mean")

In [126]:
#Add imputation cols to df 
imputer.fit(df_spark).transform(df_spark).show()

+--------+----+----------+-----------+------------------+
|    Name| Age|Experience|Age_imputed|Experience_imputed|
+--------+----+----------+-----------+------------------+
|Leonardo|  29|         5|         29|                 5|
|   Paulo|  56|         5|         56|                 5|
|  Marisa|  54|         5|         54|                 5|
| Leticia|  26|         5|         26|                 5|
|   Heron|null|         4|         37|                 4|
| Pitucha|  25|      null|         25|                 4|
|    null|  35|      null|         35|                 4|
+--------+----+----------+-----------+------------------+

#  Parte 4 - Operações com Filtros

* &, |, ==
* ~

In [127]:
spark = SparkSession.builder.appName('Practica - DataFrame').getOrCreate()
spark

In [129]:
## Lendo o dataset 
df_spark = spark.read.option('header', 'true').csv('data3.csv', sep=';', inferSchema=True)
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [136]:
#Salario das pessoas igual ou maior que 5000
df_spark.filter("Salary>5000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Marisa| 54|         5|  5200|
|Leticia| 26|         5| 15000|
+-------+---+----------+------+

In [138]:
df_spark.filter((df_spark['Salary']>5000) & (df_spark['Salary']<15000)).show()
df_spark.filter((df_spark['Salary']>5000) | (df_spark['Salary']<15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Marisa| 54|         5|  5200|
+------+---+----------+------+

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Leonardo| 29|         5|  4000|
|   Paulo| 56|         5|  5000|
|  Marisa| 54|         5|  5200|
| Leticia| 26|         5| 15000|
+--------+---+----------+------+

#  Parte 5 - Group By e funções de agregação

In [ ]:
spark = SparkSession.builder.appName('Practica - DataFrame').getOrCreate()
spark

In [142]:
## Lendo o dataset 
df = spark.read.option('header', 'true').csv('data4.csv', sep=';', inferSchema=True)
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departament: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [143]:
df.show()

+--------+------------+------+
|    Name| Departament|Salary|
+--------+------------+------+
|Leonardo|Data Science| 10000|
|   Paulo|         IOT|  5000|
|  Marisa|    Big Data|  4000|
| Leticia|    Big Data|  4000|
|   Bruno|Data Science|  3000|
|   Pedro|Data Science| 10000|
|Caroline|         IOT|  5000|
+--------+------------+------+

In [146]:
#GroupBy
#Group para achar a soma dos salários por pessoa
df.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|   Paulo|       5000|
|   Bruno|       3000|
|Leonardo|      15000|
|   Pedro|      10000|
|  Marisa|       4000|
|Caroline|       5000|
| Leticia|       4000|
+--------+-----------+

In [147]:
#GroupBy
#Group para achar a soma dos salários por departamento
df.groupBy('Departament').sum().show()

+------------+-----------+
| Departament|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|       8000|
|Data Science|      23000|
+------------+-----------+

In [148]:
#GroupBy
#Group para achar número de funcionários por departamento
df.groupBy('Departament').count().show()

+------------+-----+
| Departament|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    2|
|Data Science|    3|
+------------+-----+

In [153]:
 df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      46000|
+-----------+

In [151]:
df.groupby('Name').max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
|   Paulo|       5000|
|   Bruno|       3000|
|Leonardo|      10000|
|   Pedro|      10000|
|  Marisa|       4000|
|Caroline|       5000|
| Leticia|       4000|
+--------+-----------+

# Parte 6 - Machine Learning com DataFrames

In [154]:
# Nessa parte vamos usar um modelo simples de machine learning para tentar prever um salário de um funcionário
# com base na sua idade e anos de experiência.

In [156]:
spark = SparkSession.builder.appName('Practica - DataFrame').getOrCreate()
spark

In [159]:
## Lendo o dataset 
df = spark.read.option('header', 'true').csv('data3.csv', sep=';', inferSchema=True)
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [162]:
df.columns
df.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|Leonardo| 29|         5|  4000|
|   Paulo| 56|         5|  5000|
|  Marisa| 54|         5|  5200|
| Leticia| 26|         5| 15000|
|   Maria| 84|        10| 20000|
|   Heron|  5|         4|  5000|
| Pitucha|  5|         4|  5000|
+--------+---+----------+------+

In [172]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=["Age", "Experience"], outputCol="Independent Features")
output = featureassembler.transform(df)
output.show()

+--------+---+----------+------+--------------------+
|    Name|Age|Experience|Salary|Independent Features|
+--------+---+----------+------+--------------------+
|Leonardo| 29|         5|  4000|          [29.0,5.0]|
|   Paulo| 30|         5|  5000|          [30.0,5.0]|
|  Marisa| 35|         5|  5200|          [35.0,5.0]|
| Leticia| 26|         5| 15000|          [26.0,5.0]|
|   Maria| 40|        10| 20000|         [40.0,10.0]|
|   Heron| 15|         4|  5000|          [15.0,4.0]|
| Pitucha| 20|         4|  5000|          [20.0,4.0]|
+--------+---+----------+------+--------------------+

In [173]:
finalized_data = output.select("Independent Features", "Salary")
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|          [29.0,5.0]|  4000|
|          [30.0,5.0]|  5000|
|          [35.0,5.0]|  5200|
|          [26.0,5.0]| 15000|
|         [40.0,10.0]| 20000|
|          [15.0,4.0]|  5000|
|          [20.0,4.0]|  5000|
+--------------------+------+

In [174]:
from pyspark.ml.regression import LinearRegression 

#Treina com 75% e testa com 25%
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor = regressor.fit(train_data)

In [175]:
# Coeficientes
regressor.coefficients

DenseVector([-110.1847, 2740.8495])

In [176]:
# Interceptações
regressor.intercept

-2311.7321964314488

In [177]:
#Predição 
pred = regressor.evaluate(test_data)
pred.predictions.show()

+--------------------+------+-----------------+
|Independent Features|Salary|       prediction|
+--------------------+------+-----------------+
|          [29.0,5.0]|  4000|8197.157745144495|
|          [30.0,5.0]|  5000|8086.972998578893|
+--------------------+------+-----------------+